<CascadingValue Value="this">
    <div id="diagram-flow-builder"
         class="diagram-flow-builder @ClassName">
        @ChildContent
        @foreach (DiagramItemViewModel item in Items)
        {
            <DraggableContent @bind-X="item.X"
                              @bind-Y="item.Y"
                              Id="@item.Id"
                              SubscriptionEventOnDrag="@SubscriptionEventOnDrag"
                              ElementId="@($"flow-item-{item.Id}")"
                              MainContainerQuerySelector="@($"#{Id}")"
                              ScrollContainerQuerySelector="@($"#{Id}")"
                              WithoutContainer="true"
                              LimitBorder="true"
                              Styles="">
                <section id="flow-item-@(item.Id)"
                         class="diagram-flow-item @item.Class @(item.OnMouseEnter.If("on-mouse-enter"))"
                         data-id="@item.Id"
                         @onmouseenter="(e)=>OnMouseEnter(item)">
                    @*<svg >
                        <path d="M 146.6228894075319 267.3080145151043 C 946.8783076264973 467.3080145151043 1080.5521985851178 449.8773066352571 1180.8076168040832 449.8773066352571" class="sc-gswNZR cBhRcR"></path>
                    </svg>*@
                    @*<div class="placeholder"></div>*@
                    <div class="wrap">
                        <header class="diagram-header">
                            <i class="@item.Icon"></i>
                            <label>@item.Title</label>
                        </header>
                        <div class="diagram-body">
                            @item.Content
                        </div>
                    </div>
                </section>
            </DraggableContent>
        }

        <div class="connectors">
            <svg xmlns="http://www.w3.org/2000/svg" class="lines"></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="points"></svg>
        </div>
    </div>
</CascadingValue>
